<footer class="footer">
    <div>
        <address class="footer__address">Calle Antillas 32<br>43800 Calafell</address>
        <p><i class="fa-solid fa-phone"></i>+34 645 627 998</p>
    </div>

    <div>
        <a href="index.html"><img class="footer__logo" src="./assets/images/logo-ajedrez.png" alt="logo-ajedrez"></a>
    </div>

    <div>
        <ul class="footer__ul">
            <li class="footer__li"><a href="clubsMembers.html" class="footer__a">Club Members</a></li>
            <li class="footer__li"><a href="blog.html" class="footer__a">Blog</a></li>
            <li class="footer__li"><a href="contacto.html" class="footer__a">Contacto</a></li>
        </ul>

        <a href="#" class="footer__a footer__a--redes"> <i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="footer__a footer__a--redes"> <i class="fa-brands fa-twitter"></i></a>
        <a href="" class="footer__a footer__a--redes"> <i class="fa-solid fa-envelope"></i></a>
    </div>
</footer>