<div class="header">
    <a href="index.html" class="header__a"><img src="./assets/images/logo-ajedrez.png" alt="logo-ajedrez"
            class="header__logo"></a>
            
    <nav class="nav">
        <ul class="nav__ul">
            <li class="nav__li"><a href="clubsMembers.html" class="nav__a">Club Members</a></li>
            <li class="nav__li"><a href="blog.html" class="nav__a">Blog</a></li>
            <li class="nav__li"><a href="contacto.html" class="nav__a">Contacto</a></li>
            <!--<li class="nav__li"><a href="pruebabootstrap.html" class="nav__a">bootstrap</a></li>-->
        </ul>
    </nav>
</div>