//////////////////////////////////////////////////RESET DE TODO EL CSS/////////////////////////////////////////////////////////

/* Definimos las Custom properties */

:root{
    /* Colores */
    --color-black       : #000;
    --color-white       : #f0f0f0;
    --color-marron        : #8d4925;
}

//Reseteamos los margin y Paddings de las etiquetas
* {
    box-sizing: border-box; //solventamos lso problemas d emodelo caja
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    border: 0;
}

/*Evitamos problemas con imagenes y videos*/
img, picture, video, iframe, figure{
    display: block;
    width: 100%;
    max-width: 100%;
    /*opcional*/object-fit: cover;
    /*opcional*/object-position: center center;
}

//Resetemaos los enlaces para funcionar como cajas...
a {
    display: block;
    /*opcional*/font-size:inherit;
    /*opcional*/color:inherit;
    /*opcional*/text-decoration: none;
}

//Desactivamos estilos por defecto de las principales etiquetas de texto
h1 , h2 , h3 , h4 , h5 , h6 , a , span , p , strong , blockquote , i , b , u , em {
    font-size: 1em; //se adapta según el tamaño de la etiqueta de body
    font-style: inherit;
    font-weight: inherit; //nos servirá con BEM, así lo configuraremos desde la etiqueta bloque
    color: inherit;
    text-decoration: none;
}

//...Excepto los que se encuentran en parrafos
p a {
    display: inline;
}

//Eliminamos los puntos de las listas <li>
li {
    list-style-type: none;
}

/*Configuramos anclas suaves*/
html {
    scroll-behavior: smooth;
}


/* Reseteamos las tablas */
table , tr , td {
    border-spacing: 0;
    border-collapse: collapse;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height  : 100vh; //Altura minima
  font-size   : 100%; //Ideal para que se adapte a lo que configura el usuario
  /* (opcional) */ line-height: 1.4em; //por cuestiones de diseño con las WCAG
  /* (Opcional) */ -webkit-font-smoothing: antialiased;
  /* (Opcional) */ -moz-osx-font-smoothing: grayscale; //mejora la tipografía
}
