/*********************************************
BLOG PAGE
**********************************************/

.article__h1 {
    padding: 30px;
    font-size: $font-size-h1;
    color: var(--color-white);
    text-align: center;
    text-shadow: $text-shadow;
    background-color: var(--color-marron);
}

.badge {
    box-shadow: 0 0 30px #f00; 
}







